* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #FFF7ED;
}

h1, h2, h3, p {
    margin: 0;
}

h2 {
    font-size: 1.58rem;
    font-weight: 900;
    line-height: 1.58em;
}

button {
    border: none;
}
button:hover, link:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

p span {
        font-weight: 700;
}

header {
    padding-block: 2.1875em; 
}

.header--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header--content > a {
    color: #000000;
}

.header--content nav {
    display: flex;
}

nav > a {
    color: #4D4D4D;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.43em;
    margin-left: 1.375em;
}

footer {
    color: #AAAAAA;
    background: #252525;
    display: flex;
    width: 100%;
    height: 4.67em;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

footer p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.923px;
}

main {
    min-height: calc(100vh - 11.54em);
}

.loading-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container img {
    width: 10em;
    height: auto;
}

/* home page */

.home--main {
    background-image: url('./assets/images/home-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home--main-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-block: 4.0625em;
}

.home--main-content > button {
    color: inherit;
    background: #FF8C38;
    text-align: center;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    height: 3.1em;
    flex-shrink: 0;
}

.home--main-content h1 {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1.16em;
}

.home--main-content p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5em; 
    padding-block: 1.375em 3.23em;
}

/* about page */

.about--hero {
    background-image: url('./assets/images/about-hero.png');
    background-size: cover;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 14.57em;
    flex-shrink: 0;
}

.about--info {
    padding-block: 3em 3.3125em;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.about--info p {
    padding-block: 1.9375em 3.4375em;
}

.about--cta {
    border-radius: 5px;
    background: #FFCC8D;
    width: 100%;
    height: 12.375em;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2.3125em;
}

.about--cta h3 {
    color: #161616;
    font-size: 1.5rem;
    line-height: 1.25em;
    padding-bottom: 1.04em;
}

.about--cta button {
    padding: 0.75em 1.378em;
    border-radius: 10px;
    background: #161616;
    color: #FFF;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.5em;
}

/* 404 not found */

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8125em;
    padding: 0 1.5em;
    text-align: center;
}

.not-found a {
    color: #FFF;
    background: #161616;
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 1.759em;
    border-radius: 4.983px;
    padding: 0.6em 5.94em;
}

/* vans page */

.van--main {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding-block: 3.375em 5.1875em;
}

.van--filters {
    display: flex;
    align-items: center;
    gap: 1.25em;
    padding-block: 1.75em 3.875em;
}

.van--filters button {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.clear {
    background-color: transparent;
    text-decoration: underline;
    font-weight: 500;
}

.vans-container {
    display: grid;
    grid-template-columns: minmax(14em, 1fr);
    grid-gap: 1em;
    justify-items: center;
}

.van-tile a {
    font-family: inherit;
    color: #161616;
}

.van-tile img {
    width: 100%;
    min-height: 14em;
    border-radius: 5px;
}

.van-info {
    display: flex;
    justify-content: space-between;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

/* van detail page */

.van-detail--main {
    max-width: 800px;
    margin: 0 auto;
}

.all-vans {
    width: 90%;
    margin: 0 auto;
    padding-top: 2.4375em;
}

.detail-container {
    color: #161616;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    padding-block: 0 5.25em;
}

.detail-container img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
}

.detail-container i {
    margin-top: 3.25em; 
    margin-bottom: 1.25em;
}

.detail-container h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.052em;
}

.detail-container button {
    width: 100%;
    color: #FFF;
    border-radius: 4.983px;
    background: #FF8C38;
    text-align: center;
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.98em;
}

.detail--van-price {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2076em;
    padding-block: 0.45em;
}

.detail--van-description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.49em;
    margin-bottom: 1.3525em;
}

/* login page */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.login-message {
    font-size: 0.8rem;
    color: red;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 70%;
    min-width: 300px;
    text-align: center;
    padding-block: 3em;
}

.login-form input {
    padding: 0.5625em 0.8125em;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #D1D5DB;
    border-radius: 0px 0px 6px 6px;
}

.login-form input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form button {
    border-radius: 6px;
    background: #FF8C38;
    color: #FFF;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25em;
    padding: 1em 0;
    margin-top: 1.375em;
}

.login-container p span a {
    color: #FF8C38;
}

/* HOST */

.host--nav {
    margin-bottom: 2.625em;
}

/* host van page */

.host-van--main {
    min-height: calc(100vh - 13em);
    width: 90%;
    margin: 0 auto;
}

.host-van--main h1 {
    padding-block: 1.718em 1em;
}

.host-vans-list {
    display: flex;
    flex-direction: column;
    gap: 0.9375em;
}

.host-vans-list a h3 {
    color: #161616;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.58em;
}

.host-vans-list a p {
    color: #4D4D4D;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.98em;
}

.host-van--tile {
    display: flex;
    align-items: center;
    gap: 1.0625em;
    max-width: 800px;
    height: 6.375em;
    border-radius: 6px;
    background: #FFF;
    padding: 1.125em 1.5em;
}

.host-van--tile img {
    width: 4.0625em;
    height: 4.0625em;
    border-radius: 5px;
}

/* host van detail */

.host-van-detail--main {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding-block: 3.8125em 2.8125em;
}

.back {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 2.3125em;
}

.host-van--back svg {
    width: 1.5em;
    stroke-width: 1.381px;
    stroke: #858585;
}

.back a {
    color: #201F1D;
    font-family: inherit;
    font-size: 0.99rem;
    font-weight: 500;
    line-height: 1.4375em;
    text-decoration-line: underline;
}

.host-van-detail--container {
    width: 100%;
    padding: 1.625em;
    background-color: #FFF;
    border-radius: 6px;
    margin: 0 auto;
}

.host-van-detail {
    display: flex;
    align-items: center;
    gap: 1.35em;
}

.host-van-detail > img {
    width: 40%;
    height: auto;
    border-radius: 5px;
}

.host-van--title h3 {
    padding-block: 1.125em 0.875em;
    font-size: 1.625rem;
}

.host-van--title p {
    font-size: 1.1875rem;
}

.host-van-detail--nav {
    display: flex;
    gap: 1.34em;
    padding-block: 1.625em;
}

.host-van-detail--nav a {
    margin-left: 0;
}

/* host van detail - photos */

.host-van-detail--photos {
    width: 25%;
    border-radius: 5px;
}

/* host van detail - pricing */

.host-van--pricing {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.46px;
}

.host-van--pricing span {
    color: #161616;
    font-size: 1.5rem;
    line-height: 0.894em;
}

/* Media Queries */

@media(min-width:620px){
    .vans-container {
        grid-template-columns: 1fr 1fr;
    }

    .detail-container button {
        width: 38%;
    }

    .host--nav, 
    .host-van--main h1 {
        text-align: center;
    }

    .host-van--tile {
        margin: 0 auto;
        width: 100%;
        height: 16vh;
    }

    .host-van--tile img {
        width: 12vw;
        max-width: 120px;
        height: auto;
    }

    .not-found a {
        padding: 0.6em 7.94em;
        font-size: 1.125rem;
    }
}

/* host dashboard */

.dashboard--main {
    min-height: calc(100vh - 13em);
    color: #161616;
    padding-bottom: 3.3215em;
}

.dashboard--main a {
    color: #161616;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375;
}

.dashboard--income-container, 
.dashboard--reviews-container {
    display: flex;
    align-items: center;
}

.dashboard--income-container {
    background: #FFEAD0;
    height: 30vh;
}

.dashboard--income-content,
.dashboard--reviews-content,
.dashboard--vans-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.dashboard--income-content {
    flex-direction: column;
    gap: 2em;
}

.dashboard--income-content h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 0.61;
}

.dashboard--income-content h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 0.8; 
}

.dashboard--income-content p {
    color: #4D4D4D;
    font-size: 1rem;
    line-height: 1.1;  
}

.dashboard--income-content span {
    text-decoration: underline;
}

.dashboard--income-content > div {
    display: flex;
    justify-content: space-between;
}

.dashboard--reviews-container {
    background: #FFDDB2;
    height: 15vh;
}

.dashboard--reviews-content {
    justify-content: space-between;
}

.dashboard--reviews-content > div {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.dashboard--reviews-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.9; 
}

.dashboard--vans-container {
    flex-direction: column;
}

.dashboard--vans-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2.375em 0;
}

/* host income */

.income--main {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.income--main span {
    color: #4D4D4D;
    text-decoration: underline;
}

.income--title h1 {
    font-size: 2.25rem;
    line-height: 0.6;
}

.income--title h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 0.8;
    margin-bottom: 1.1875em;
}

.income--title p {
    color: #4D4D4D;
    margin: 2.6875em 0 1.9375em 0;
    line-height: 1.375;
}

.income--transactions {
    margin: 3.875em 0;
}

.income--transactions-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.income--transaction-div {
    background: #FFF;
    padding: 2.1875em 1.8125em;
    max-width: 800px;
    margin: 1.9375em auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;    
}

/* reviews */

.reviews--main {
    min-height: calc(100vh - 15.6em);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.reviews--main svg {
    fill: #FF8C38;
}

.reviews--title, 
.reviews--overall-rating > div {
    display: flex;
    align-items: center;
}
.reviews--overall-rating {
    padding-block: 2.25em;
}

.reviews--overall-rating > div {
    gap: 2em;
    padding-bottom: 0.625em;
}

.reviews--overall-rating > div:nth-of-type(2) div {
    background-color: #FF8C38;
}

.reviews--overall-rating > div:last-of-type p {
    margin-right: 11px;
}

.reviews--overall-title {
    margin-bottom: 0.825em;
}

.review--bar {
    width: 35vw;
    min-width: 200px;
    height: 8px;
    background-color: #B9B9B9;
    border-radius: 8px;
}